
    body{
        margin: 0;
        width: 1106px;
        margin: auto;
        background-color: #CACACA;
        background-repeat: round;
        border-color: #333;
        font-family: verdana;   
    }

    /************************************/
    /* ------------ Header ------------ */
    /************************************/
    header{
        width: 92%;

    }
    header h1{
        color: grey;
        float: right;
        font-family: "Arial";
        font-style: italic;
        font-size: 38px;
        margin-top: 6px;
    }

    header h2{
        color: grey;
        float: right;
        padding-top: 90px;
        font-family: "Arial";
        font-size: 28px;
        font-style: italic;
        text-decoration: underline;
        margin-top: 6px;
    }

    #logo{
        
        padding-left: 29px;
        padding-right: 36px;
        background-color:white;
        height: 175px;
        border-left: solid 10px;
        border-right: solid 10px;
        border-bottom: solid 5px;
        border-color: #333;
    }

    #panel {
        background-color: white;
        font-size: 14px;
        width: 98%;
        border-left: solid 10px;
        border-right: solid 9px;
        border-bottom: solid 10px;
        border-color: #333;
        height: auto;
        overflow: hidden;
    }

    #panel #main{
        width: 82%;
        padding-left: 10px;
        float: left;
        border-left: solid 10px #333;
        min-height: 350px;
    }

    #informacion{
        border-bottom: solid 5px;
        border-right: solid 5px;
        padding-right: 2px;
        border-color: #2333;
        background-color: #333;
        font-size: 12px;

    }

    #informacion #leftbox{
        font-size: 13px;
        display: inline-block;
        margin-left: 35px;
    }

    #informacion #rightbox{
        font-size: 13px;
        display: inline-block;
        float: right;
        margin-right: 15px;
        text-decoration: none;
    }

    #informacion p{
        color: white;
        display: inline-block;
    }

    #informacion a{
        color: white;
    }

    #panel #menu {
        width: 17%;
        display: table;
        float: left;
        padding-top: 20px;
        border-color: #333; 
        height: 100%;
        margin-left: -10px;
    }

    #panel #menu li{
        list-style: none;
        margin-top :25px;
    }

    #panel #menu a{
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
    }
    
    #panel #menu a:link{
        color: #333;
    }

    #panel #menu a:visited{
        color: #333;
    }
/******************************************************************************/
    .formulario{
        padding: 15px;
        margin-left: 20px;
    }

    .formulario input, .formulario select{
        margin-right: 15px;
    }

    .formulario .send{
        border:none;
        background-color: #4caf50;
        color: white;
        padding: 5px;
    }

/******************************************************************************/
    tr:nth-child(odd) {
        background-color:#DBDFED;
    }
    tr:nth-child(even) {
        background-color:#CCCACA;
    }
 
    .tabla_resultado{
        overflow: scroll;
        max-height: 400px;
        min-width: 100%;
    }
    .tabla_resultado table{
     
        border: 0;
        text-align: center;
        padding: 1px ;
        border-spacing: 1px;
    }

    .tabla_resultado td{
        text-align: center;
    }
/******************************************************************************/
/* Busqueda  usuario*/
#thumb img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
#thumb img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/******************************************************************************/
/******************************************************************************/

 /* Propiedades del contenedor principal de las obras */
#main #imagenes{
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}


/*Propiedades del contenedor que contiene la obra*/
#main #imagenes .contenedor_obra{
    width: 32%;
    height: 280px;
    float: left;
    padding-bottom: 5px;
    margin: 0 auto;
}

#main #imagenes .contenedor_obra img{
    height: 90%;
    width: 90%;
    margin-right: 9px;
    margin-top: 15px;
    border: solid 3px #C5C5B5;
}

#main #imagenes .contenedor_obra .eliminar{
    font-size: 15px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    color: red;
    cursor:pointer;
}
